.modal_window
  .modal-close
    width: 50px
    height: 50px

    background-color: transparent
    position: relative
    display: block

    color: black
    border: 2px solid black
    border-radius:50%

    margin: auto
    transition: transform 0.15s
    &:hover
      transform: rotateZ(90deg)

    &::after
      content: ""
      width: 30px
      height: 2px

      background-color: black

      display: block
      position: absolute
      top: 50%
      left: 50%

      transform: translateY(-50%) translateX(-50%) rotateZ(45deg)

    &::before
      content: ""
      width: 30px
      height: 2px

      background-color: black
      display: block
      position: absolute
      top: 50%
      left: 50%

      transform: translateY(-50%) translateX(-50%) rotateZ(-45deg)

  .modal_content
    margin-top: 30px
    margin-bottom: 30px

    p
      margin: 20px
      line-height: 160%

  .modal_input[type="text"]
    width: 200px
    border: 0
    background-color: #f3f3f3
    padding: 17px

  .modal_label
    width: 100px
    margin-right: 10px

  .setting-item
    margin: 10px

  .modal_btn
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

    margin-top: 40px
    margin-left: calc(25% - 50px)
    margin-right: calc(25% - 50px)

    float: left
    border: 0
    outline: 0
    width: 100px
    height: 50px

    background-color: $fl-lblue

    text-decoration: none
    color: white

    &.modal-confirm
      background-color: $fl-lgreen

    &.modal-cancel
      background-color: $fl-lred
